@import 'tailwindcss';

html,
body {
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  width: 100%;
}

#root {
  height: 100%;
  overflow: hidden;
}
